<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./cases.css">
	<link rel="stylesheet" href="../../styles/fonts.css">
	<title>Cases</title>
</head>

<body>
	<header class="header header_in">
		<div class="container">
			<div class="header_box header_in_box">
				<div class="header_top header_in_top">
					<div class="logo">
						<a href="#"><img src="../../assets/crocos_logo_black.svg"
								alt="Crocos Logo"></a>
					</div>
					<nav>
						<ul class="header_top_menu-top header_in_top_menu-top">
							<li><a href="#">Разработка</a>
							</li>
							<li><a href="#">Маркетплейс</a>
							</li>
							<li><a href="#">Городской
									путеводитель</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header_bottom header_in_bottom">
					<div>
						<nav>
							<ul class="header_top_menu-bot header_in_top_menu-bot">
								<li><a href="">О
										компании</a>
								</li>
								<li><a href="">Услуги</a>
								</li>
								<li><a href="">Решения</a>
								</li>
								<li><a href="">Продукты</a>
								</li>
								<li><a href="">Кейсы</a>
								</li>
								<li><a href="">Контакты</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class='header_bottom_info header_in_bottom_info'>
						<div class="header_bottom_info_lang header_in_bottom_info_lang">
							<span>Ru</span>
						</div>
						<div class='header_bottom_info_breaf header_in_bottom_info_breaf'>
							Заполнить бриф
						</div>
						<div class='header_bottom_info_phone header_in_bottom_info_phone'>
							<a href="tel:+77172790439">+7
								/7172/ 79 04
								39</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="cases cases_in">
		<div class="container">
			<div class="title">
				<h3>Кейсы</h3>
			</div>
			<div class="cases_in_filter">
				<nav>
					<ul>
						<a href="#" class='active'>
							<li>Все</li>
						</a>
						<a href="#">
							<li>Веб-разработка</li>
						</a>
						<a href="#">
							<li>Мобильная разработка</li>
						</a>
						<a href="#">
							<li>AR/VR</li>
						</a>
						<a href="#">
							<li>Digital marketing</li>
						</a>
						<a href="#">
							<li>Информационные системы</li>
						</a>
					</ul>
				</nav>
			</div>
		</div>
		<div class='cases_bg cases_in_bg'>
			<div class="cases_box cases_in_box">
				<div class="cases_box_top cases_in_box_top">
					<div class='cases_box_item cases_in_box_item'>
						<a href="#"><img src="../../assets/enbek.png"
								alt="Crocos - Digital Solutions"></a>
						<h5> <a href="#">Enbek</a></h5>
						<div class="tags">
							<span> <a href="#">#UI/UX,
									#Development</a></span>
						</div>
						<div class="reactions">
							<div><img src="../../assets/finger.svg"
									alt="Crocos - Digital Solutions"><span>45</span>
							</div>
							<div><img src="../../assets/eye.svg"
									alt="Crocos - Digital Solutions"><span>123</span>
							</div>
						</div>
					</div>
					<div class='cases_box_item cases_in_box_item'>
						<a href="#"><img src="../../assets/eurasia.png"
								alt="Crocos - Digital Solutions"></a>
						<h5><a href="#">Eurasia Group</a></h5>
						<div class="tags">
							<span><a href="#">#UI/UX, #3D,
									#Development</a></span>
						</div>
						<div class="reactions">
							<div><img src="../../assets/finger.svg"
									alt="Crocos - Digital Solutions"><span>45</span>
							</div>
							<div><img src="../../assets/eye.svg"
									alt="Crocos - Digital Solutions"><span>123</span>
							</div>
						</div>
					</div>
				</div>
				<div class="cases_box_bottom cases_in_box_bottom">
					<div class='cases_box_item cases_in_box_item'>
						<a href="#"><img src="../../assets/aviation.png"
								alt="Crocos - Digital Solutions"></a>
						<h5><a href="#">Казахстанский <br>
								Авиационный
								Регулятор</a></h5>
						<div class="tags">
							<span><a href="#">#UI/UX,
									#Development</a></span>
						</div>
						<div class="reactions">
							<div><img src="../../assets/finger.svg"
									alt="Crocos - Digital Solutions"><span>45</span>
							</div>
							<div><img src="../../assets/eye.svg"
									alt="Crocos - Digital Solutions"><span>123</span>
							</div>
						</div>
					</div>
					<div class='cases_box_item cases_in_box_item'>
						<a href="#"><img src="../../assets/citypass.png"
								alt="Crocos - Digital Solutions"></a>
						<h5><a href="#">CityPass Kazakhstan</a>
						</h5>
						<div class="tags">
							<span><a href="#">#UI/UX,
									#E-Commerce,
									#Development</a></span>
						</div>
						<div class="reactions">
							<div><img src="../../assets/finger.svg"
									alt="Crocos - Digital Solutions"><span>45</span>
							</div>
							<div><img src="../../assets/eye.svg"
									alt="Crocos - Digital Solutions"><span>123</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn container">
				<a href="#">
					<p>Показать еще</p>
				</a>
			</div>
		</div>
	</section>
	<section class="cta container">
		<div class="cta_box">
			<div class='cta_box_title'>
				<h2>Воплощаем идеи <br> в
					жизнь
				</h2>
			</div>
			<div class='cta_box_btn'>
				<p>Свяжись с нами</p>
			</div>
		</div>
	</section>
	<footer class='footer container'>
		<div class="footer_links">
			<div class='footer_links-item linkedin'>
				<a href="#"><img src="../../assets/linkedin.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item telegram'>
				<a href="#"><img src="../../assets/telegram.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item instagram'>
				<a href="#"><img src="../../assets/instagram.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item behance'>
				<a href="#"><img src="../../assets/behance.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item youtube'>
				<a href="#"><img src="../../assets/youtube.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
		</div>
		<nav>
			<ul class='footer_top_menu'>
				<li><a href="#">О компании</a>
				</li>
				<li><a href="#">Услуги</a>
				</li>
				<li><a href="#">Решения</a>
				</li>
				<li><a href="#">Проекты</a>
				</li>
				<li><a href="#">Клиенты</a>
				</li>
				<li><a href="#">Контакты</a>
				</li>
			</ul>
		</nav>
		<nav>
			<ul class='footer_bot_menu'>
				<li><a href="#">Web
						разработка</a></li>
				<li><a href="#">Мобильные
						приложения</a></li>
				<li><a href="#">Digital
						продвижение</a></li>
				<li><a href="#">Информационная
						безопасность</a></li>
				<li><a href="#">Решения</a>
				</li>
			</ul>
		</nav>
		<div class="footer_info">
			<img src="../../assets/PC_Logo 1.svg" alt="Crocos - Digital Solutions">
			<nav>
				<ul class="footer_info_links">
					<li><a href="#">Скачать
							презентацию</a>
					</li>
					<li><a href="#">Стать
							частью команды</a>
					</li>
					<li><a href="">Скачать
							логотип</a></li>
					<li><a href="">Связаться с
							нами</a></li>
					<li><a href="">Заполнить
							бриф</a></li>
				</ul>
			</nav>
		</div>
		<div class="copyright">
			Copyright &copy; 2024 Crocos. All
			rights reserved.
		</div>
	</footer>
</body>

</html>