@import './variables';

::-webkit-scrollbar {
	height: 3px;
	background: linear-gradient(90deg, #eaeef7 0%, rgba(234, 238, 247, 0) 100%);
}

::-webkit-scrollbar-thumb {
	height: 3px;
	// border-radius: 7px;
	background: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
	background: #4891ff;
}

*,
*::before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'TT Lakes Neue Expanded', sans-serif;
	font-weight: 400;
	font-size: 16px;
	overflow-x: hidden;
}

h1 {
	font-size: 96px;
}

h3 {
	font-size: 48px;
}

h5 {
	font-size: 32px;
}

img {
	// width: 100%;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

input,
textarea {
	font-family: 'TT Lakes Neue Expanded', sans-serif;
}

// :any-link {
// 	color: var(--black);
// }

strong {
	font-weight: 700;
}

.container {
	width: 100%;
	max-width: 1762px;
	margin: 0 auto;
}

.title h3 {
	font-size: 96px;
	margin-bottom: 60px;
	font-weight: 500;
}

.btn {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	color: var(--blue);
	padding: 40px 50px;
	border: 1px solid var(--blue);
	border-radius: 77px;
	/* margin-top: 80px; */
	/* margin-bottom: 150px; */
	cursor: pointer;
	transition: all 250ms ease-out;
	a {
		color: var(--blue);
		letter-spacing: 0.6px;
	}
	&:hover {
		background-color: var(--blue);
	}
	&:hover a {
		color: white;
	}
}

.main_bg {
	background: url('../assets/main_bg_normal.png') no-repeat;
	background-size: cover;
	height: 1100px;
}

.header {
	margin-bottom: 171.5px;
	&_box {
		padding-top: 45px;
	}
	&_top {
		@include flex(flex, space-between, center);
		border-bottom: 1px solid #ffffff21;
		padding-bottom: 16px;
		&_menu-top {
			@include flex(flex, space-between, center);
			gap: 30px;
			li {
				text-transform: uppercase;
				line-height: 19.6px;
				a {
					color: white;
					font-weight: 800 !important;
					font-size: 14px;
					transition: color 350ms ease-in-out;
					&:hover {
						color: #ffffffa6;
					}
				}
			}
		}
		&_menu-bot {
			@include flex(flex, space-between, center);
			gap: 30px;
			li {
				font-size: 16px;
				a {
					position: relative;
					color: white;
					transition: color 350ms ease-in-out;
					&::after {
						content: '';
						display: block;
						position: absolute;
						transform: translateY(5px);
						background-color: white;
						left: 0;
						width: 0;
						height: 2px;
						transition: width 0.3s ease-out;
					}
					&:hover::after {
						width: 100%;
					}
				}
			}
		}
	}
	&_bottom {
		@include flex(flex, space-between, center);
		padding-top: 28px;
		&_info {
			@include flex(flex, center, center);
			gap: 32px;
			&_lang {
				width: 49px;
				height: 49px;
				border: 1px solid white;
				border-radius: 50%;
				padding: 9px;
				color: white;
				text-align: center;
				line-height: 22.4px;
				cursor: pointer;
				transition: all 250ms ease-out;
				&::after {
					content: url('../assets/more-vertical.svg');
					display: block;
				}
				span {
					display: block;
					margin-bottom: -4px;
				}
				&:hover {
					background-color: white;
					color: var(--blue);
				}
			}
			&_breaf {
				border: 1px solid white;
				border-radius: 8px;
				padding: 12px;
				color: white;
				cursor: pointer;
				transition: all 250ms ease-out;
				font-size: 18px;
				&:hover {
					background-color: white;
					color: var(--blue);
				}
			}
			&_phone {
				background-color: white;
				border-radius: 8px;
				padding: 12px;
				font-size: 18px;
				// animation: bounce infinite 2s linear;
				&::before {
					content: url('../assets/phone.svg');
					/* display: inline; */
					vertical-align: middle;
					line-height: 0;
				}
				a {
					color: var(--blue);
					font-size: 18px;
				}
			}
		}
	}
}

.header_in {
	box-shadow: 0px 4px 90px 0px #0000000d;
	&_top {
		border-color: #ebeef6;
		&_menu-top {
			li a {
				color: black;
				&:hover {
					color: #070a25a6;
				}
			}
		}
		&_menu-bot {
			li a {
				color: var(--black);
				&::after {
					background-color: var(--black);
				}
			}
		}
	}
	&_bottom {
		padding-bottom: 35px;
		&_info {
			&_lang {
				color: var(--black);
				border-color: var(--black);
				&:hover {
					background-color: var(--black);
					color: white;
				}
				&::after {
					content: url('../../assets/more-vertical-black.svg');
				}
			}
			&_breaf {
				color: black;
				border-color: black;
				&:hover {
					background-color: var(--black);
					color: white;
				}
			}
			&_phone {
				background-color: var(--blue);
				&:hover {
					background-color: var(--black);
					color: white;
				}
				a {
					color: white;
				}
				&::before {
					content: url('../../assets/phone-white.svg');
				}
			}
		}
	}
}

.billboard {
	// padding-top: 172px;
	&_box {
		@include flex(flex, space-between, center);
		&_img {
			@include flex(flex, center, center);
			position: relative;
			width: 50%;
			cursor: pointer;
			margin-bottom: 100px;
			&::before {
				content: url('../assets/bg-smart.png');
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&::after {
				content: url('../assets/playcase.svg');
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 3;
			}
			&-inner {
				position: relative;
				&::before {
					animation: 1s pulse infinite linear;
					border: 1px solid #ffffff8c;
					content: '';
					width: 100%;
					display: block;
					position: absolute;
					height: auto;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-radius: 100%;
					transform-origin: center center;
					opacity: 0;
					box-sizing: border-box;
				}
				&::after {
					animation: 1s pulse2 infinite linear;
					border: 1px solid #ffffff8c;
					content: '';
					width: 100%;
					display: block;
					position: absolute;
					height: auto;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-radius: 100%;
					transform-origin: center center;
					opacity: 0;
					box-sizing: border-box;
				}
			}
			img {
				/* animation: hoverWave linear 1s infinite; */
				border-radius: 50%;
				position: relative;
				z-index: 2;
			}
		}
		&_text {
			/* width: 600px; */
			width: 50%;
			h1 {
				color: white;
				text-transform: uppercase;
				font-weight: 900;
				line-height: 124.4px;
				span {
					display: block;
					font-size: 36px;
					text-transform: none;
					font-weight: 200;
					line-height: 50.4px;
				}
			}
			&_subtext {
				padding: 35px 0 90px 0;
				color: white;
				font-size: 20px;
			}
			&_btn {
				font-size: 24px;
				transition: transform 400ms ease;
				p a {
					color: white;
				}
				p::after {
					content: url('../assets/arrow-right.svg');
					display: inline;
					margin-left: 11px;
				}
				&:hover {
					transform: translateX(20px);
				}
			}
			.paginaton {
				padding-top: 120px;
				.counter {
					color: white;
					.initial {
						font-size: 24px;
					}
					.count {
						font-size: 16px !important;
					}
				}
				.dots {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					margin-top: 17px;
				}
				.dots div::after {
					content: '';
					display: block;
					background: #ffffff40;
					width: 70px;
					height: 2px;
				}
				.dots div.active::after {
					background-color: white;
					height: 6px;
				}
			}
		}
	}
}

.app {
	margin-top: -65px;
	cursor: pointer;
	&_box {
		position: relative;
		&::after {
			content: url(../assets/play.svg);
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.creation {
	background: url('../assets/crocos.svg') no-repeat;
	background-position: center bottom;
	&_box {
		padding: 150px 0;
		&_title {
			width: 1230px;
			position: relative;
			padding-bottom: 180px;
			p {
				font-size: 20px;
				line-height: 32px;
				letter-spacing: 0.32em;
				color: var(--silver);
				margin-bottom: 22px;
			}
			h3 {
				font-weight: 400;
				line-height: 76.8px;
				span {
					border-bottom: 1px solid var(--blue);
					display: table-cell;
					a {
						color: var(--blue);
						font-weight: 600;
					}
				}
			}
		}
		img.cube-color {
			position: absolute;
			right: -40px;
			top: -60%;
		}
		&_offer {
			@include flex(flex, space-between, center);
			&_item {
				position: relative;
				/* @include flex(flex, space-between, center); */
				display: flex;
				justify-content: space-between;
				gap: 58px;
				flex: 0 1 564px;
				p {
					color: var(--silver);
					font-size: 24px;
					line-height: 38.4px;
				}
				&:hover p {
					color: var(--blue);
				}
			}
			img.active-cube {
				opacity: 0;
				transition: opacity 350ms ease;
				position: absolute;
				top: 0;
				left: 0;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.partners {
	margin-bottom: 150px;
	&_box {
		overflow: hidden;
		&_line_top,
		&_line_bot {
			// @include flex(flex, center, center);
			display: flex;
			align-items: center;
			gap: 73px;
			img {
				max-width: none;
			}
		}
		&_line_top {
			justify-content: flex-end;
			margin-left: 20%;
			margin-bottom: 61px;
		}
		&_line_bot {
			justify-content: flex-start;
			margin-right: 20%;
		}
	}
}

.services {
	margin-bottom: 265px;
	&_box {
		@include grid(grid, repeat(4, 1fr));
		gap: 30px;
		margin-bottom: 80px;
		&_item {
			position: relative;
			cursor: pointer;
			h5 {
				position: absolute;
				left: 50px;
				bottom: 50px;
				color: white;
				width: 250px;
				font-weight: 400;
			}
			&::before {
				content: '';
				background: url('../assets/mesh-gradient.png');
				opacity: 0;
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
			}
			&:hover.services_box_item::before {
				opacity: 0.3;
			}
			&::after {
				content: url('../assets/arrow-right.svg');
				display: block;
				background-color: var(--blue);
				padding: 32px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: opacity 400ms ease;
			}
			&:hover.services_box_item::after {
				opacity: 1;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.products {
	margin-bottom: 150px;
	// background-color: var(--light);
	// background-position: 300px center;
	position: relative;
	&_bg {
		margin-bottom: 165px;
		.scrolll {
			position: relative;
			margin-top: 30px;
		}
	}
	&_box {
		// @include flex(flex, space-between, center);
		/* @include grid(grid, repeat(3, 1fr)); */
		gap: 30px;
		margin-left: 3.9%;
		// overflow-x: auto;
		&_item {
			overflow: hidden;
			position: relative;
			/* width: 717px; */
			width: 100%;
			h5 {
				color: white;
				position: absolute;
				top: 55px;
				left: 55px;
			}
			p {
				color: white;
				position: absolute;
				bottom: 55px;
				left: 55px;
				font-size: 24px;
				min-height: 66px;
			}
			div {
				transition: all 400ms ease-out;
				overflow: hidden;
				width: 100%;
				height: 100%;
			}
			img {
				transition: all 400ms ease-out;
				overflow: hidden;
				width: 100%;
				height: 100%;
			}
			div:hover img {
				transform: scale(1.05);
			}
		}
	}
	.paginaton {
		position: relative;
		margin-top: 19px;
	}
	.paginaton::after {
		content: '';
		background: linear-gradient(90deg, #eaeef7 0%, rgba(234, 238, 247, 0) 100%);
		display: block;
		width: 100%;
		height: 2px;
	}
	.paginaton::before {
		content: '';
		background: var(--blue);
		display: block;
		width: 150px;
		height: 8px;
		margin-bottom: -2px;
		position: relative;
		z-index: 1;
	}
	.ar-blue {
		content: url(../assets/arr-blue.png);
		display: block;
		/* margin-left: calc(150px - 14px); */
		/* margin-top: 15px; */
		position: absolute;
		top: 15px;
		left: 135px;
	}
	.products_bg::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: -120px;
		left: 20%;
		background: #f6faff;
		height: 93%;
		width: 80%;
		display: block;
	}
}

.cases {
	position: relative;
	&_box {
		max-width: 1463px;
		margin: 0 auto;
		position: relative;
		&_top,
		&_bottom {
			@include flex(flex, center, flex-start);
			gap: 30px;
			margin-bottom: 80px;
		}
		h5 {
			font-weight: 600;
			margin-top: 45px;
			margin-bottom: 35px;
		}
		&_item {
			h5 a {
				color: var(--black);
			}
		}
	}
	img.cb {
		position: absolute;
		top: 68px;
		left: -25px;
	}
	.title {
		margin-bottom: 150px;
	}
	.tags {
		margin-bottom: 30px;
		a {
			font-size: 20px;
			color: var(--silver);
		}
	}
	.reactions {
		@include flex(flex, flex-start, center);
		gap: 10px;
		span {
			font-size: 20px;
			color: var(--silver);
		}
		div {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 10px 14px;
			background-color: white;
		}
	}
	.cases_bg {
		position: relative;
		padding-top: 155px;
	}
	.cases_bg::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: -35px;
		left: 0;
		background: #f6faff;
		height: 109%;
		width: 81%;
		display: block;
	}
}

.blog {
	padding-top: 117px;
	margin-bottom: 131px;
	&_box {
		@include grid(grid, repeat(4, 1fr));
		gap: 30px;
		margin-bottom: 80px;
		&_item {
			overflow: hidden;
			h5 {
				font-size: 20px;
				margin: 35px 0 15px;
				font-weight: 500;
				transition: all 350ms ease;
				a {
					color: var(--black);
				}
			}
			&:hover h5 {
				color: var(--blue);
			}
			&_img {
				overflow: hidden;
			}
		}
		img {
			transition: all 400ms ease-out;
		}
		img:hover {
			transform: scale(1.05);
		}

		.views {
			@include flex(flex, flex-start, center);
			gap: 10px;
			width: fit-content;
			background: #f8faff;
			padding: 14px 10px;
			span {
				font-size: 20px;
				color: var(--silver);
			}
		}
	}
}

.brandbook {
	margin-bottom: 275px;
	&_insta {
		@include flex(flex, space-between, center);
		margin-bottom: 60px;
	}
	&_info {
		@include flex(flex, space-between, center);
	}
	h6 {
		color: var(--black);
		font-size: 32px;
		font-weight: 700;
		line-height: 45px;
	}
	p {
		color: var(--silver);
		font-size: 20px;
		line-height: 28px;
	}
	&_box {
		@include grid(grid, repeat(5, 1fr));
		// grid-template-rows: repeat(2, 1fr);
		gap: 3px;
		// line-height: 1.1;
		// @include flex(flex, center, center);
		// flex-wrap: wrap;
		&_item img {
			max-width: none;
			width: 100%;
			height: 100%;
		}
	}
	&_icon {
		background-color: var(--blue);
		width: 106px;
		height: 106px;
		border-radius: 50%;
		padding: 38.5px;
		margin-right: 35px;
	}
	&_name {
		margin-right: 100px;
		h6 {
			text-transform: uppercase;
		}
	}
	&_follow {
		@include flex(flex, space-between, center);
		gap: 50px;
	}
	&_btn {
		p {
			color: var(--blue);
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.06em;
			padding: 40px 50px;
			border: 1px solid var(--blue);
			border-radius: 77px;
			&:hover {
				cursor: pointer;
				background-color: var(--blue);
				color: white;
			}
		}
	}
}

.cta {
	&_box {
		@include flex(flex, space-between, center);
		gap: 30px;
		&_title {
			margin-bottom: 70px;
			h2 {
				font-size: 96px;
				font-weight: 500;
			}
		}
		&_btn {
			background: linear-gradient(to right, var(--blue) 0%, #4891ff 100%);
			-webkit-animation: hoverWave linear 1s infinite;
			animation: hoverWave linear 1s infinite;
			position: relative;
			padding: 137px 62px;
			border-radius: 50%;
			text-align: center;
			color: white;
			font-size: 24px;
			margin-right: 50px;
			// animation: bounce infinite 1s ease-in-out;
			cursor: pointer;
			p {
				width: 218px;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				border: 1px solid var(--blue);
				border-radius: 50%;
				left: -60px;
				right: -60px;
				top: -60px;
				bottom: -60px;
				animation: animateIn 1.5s linear infinite;
			}
			&::before {
				content: '';
				display: block;
				position: absolute;
				border: 1px solid var(--blue);
				border-radius: 50%;
				left: -20px;
				right: -20px;
				top: -20px;
				bottom: -20px;
				animation: animateOut 1.7s linear infinite;
				animation-delay: 300ms;
			}
		}
	}
}

.footer {
	padding-bottom: 53px;
	&_links {
		@include flex(flex, flex-start, center);
		gap: 16px;
		&-item {
			width: 40px;
			height: 40px;
			// display: inline-flex;
			background: var(--blue);
			border-radius: 50%;
			line-height: 0;
			img {
				max-width: none;
			}
		}
		.linkedin {
			padding: 12px 12px 13.74px 13px;
		}
		.instagram {
			padding: 10px;
		}
		.telegram {
			padding: 12px 12px 11px 9px;
		}
		.behance {
			padding: 13px 8.78px 13.69px 9.78px;
		}
		.youtube {
			padding: 12.5px 9px;
		}
	}
	&_top_menu {
		@include flex(flex, flex-start, center);
		gap: 35px;
		margin-top: 108px;
		li a {
			font-size: 14px;
			color: var(--silver);
		}
	}
	&_bot_menu {
		@include flex(flex, space-between, center);
		padding: 80px 0;
		gap: 10px;
		li a {
			font-size: 20px;
			font-weight: 600;
			color: black;
		}
	}
	&_info {
		@include flex(flex, space-between, center);
		margin-bottom: 80px;
		gap: 30px;
		&_links {
			@include flex(flex, flex-end, center);
			gap: 30px;
			li {
				font-size: 12px;
				a {
					color: var(--silver);
					border-bottom: 1px solid var(--silver);
				}
			}
		}
	}
	.copyright {
		font-size: 12px;
		color: var(--silver);
	}
}

@media (max-width: 1760px) {
	.container {
		max-width: calc(100% - 10%);
	}
	.app {
		margin-top: -50px;
	}
	// .app.container {
	// 	max-width: 100%;
	// }
	.billboard_box_text .paginaton {
		padding-bottom: 94px;
	}
	.main_bg {
		// height: 100%;
		height: auto !important;
		background-repeat: repeat;
	}
	.cube-color,
	.cb {
		display: none;
	}
	.services_box_item h5 {
		font-size: 24px;
	}
	.blog_box_item h5 {
		font-size: 1.2vw;
	}
	.creation_box_offer_item p {
		font-size: 16px;
	}
	.creation_box_offer_item {
		gap: 30px;
	}
	.cta_box_title h2 {
		font-size: 69px;
	}
	.header_bottom {
		flex-direction: column;
		gap: 30px;
	}
	.blog {
		padding-top: 30px;
	}
	.cases .title {
		margin-bottom: unset;
	}
	.cases_box {
		width: calc(100% - 10%);
	}
	.brandbook {
		&_insta {
			flex-direction: column;
		}
		&_info {
			margin-bottom: 3rem;
		}
	}
}

@media (max-width: 1366px) {
	.logo {
		margin-bottom: 3.2rem;
	}
	.billboard_box_text {
		margin-top: 2.75rem;
	}
	.billboard_box_img {
		display: none;
	}
	.cases_box {
		padding: 0 2rem;
	}
	.header_bottom {
		flex-direction: column;
	}
	.header_bottom_info {
		margin-top: 30px;
	}
	.cta_box_title h2 {
		font-size: 4.5vw;
		text-align: center;
	}
	.billboard_box_text,
	.creation_box_title {
		width: 100%;
	}
	.header_top,
	.billboard_box,
	.creation_box_offer,
	.cases_box {
		flex-direction: column;
	}
	.services_box_item h5 {
		left: 25px;
		font-size: 2vw;
		width: 100%;
	}
	.creation_box {
		padding: 75px 0;
	}
	.creation_box_title {
		padding-bottom: 60px;
	}
	.creation_box_offer {
		align-items: flex-start;
	}
	.creation_box_offer_item {
		flex: 0 0 100%;
		align-items: center;
	}

	.footer {
		margin-top: 7.5rem;
	}
	.creation_box_offer_item p {
		font-size: 2vw;
	}
	.cases .cases_bg {
		padding-top: 60px;
	}
	// .partners_box_line_top,
	// .partners_box_line_bot {
	// 	flex-direction: column;
	// 	align-items: center;
	// }
	// .partners_box_line_top {
	// 	margin-left: 0 !important;
	// }
	// .partners_box_line_bot {
	// 	margin-right: 0 !important;
	// }
	.brandbook {
		&_insta,
		&_info {
			flex-direction: column;
		}
		&_icon,
		&_name,
		&_follow {
			margin-bottom: 3rem;
			text-align: center;
		}
		&_icon,
		&_name {
			margin-right: 0 !important;
		}
		&_box {
			&_item {
				img {
					width: 100%;
				}
			}
		}
	}
}

// @media (max-width: 1280px) {
// 	.blog_box {
// 		grid-template-columns: repeat(4, 1fr);
// 	}
// }

@media (max-width: 992px) {
	.title h3 {
		font-size: 9vw;
	}
	.billboard_box_text h1 {
		font-size: 12vw;
	}
	.services_box {
		grid-template-columns: repeat(2, 1fr);
	}
	.cases .title {
		margin: 0;
	}
	.cases_box_item {
		margin-bottom: 10px;
	}
	.cases .cases_bg {
		padding-top: 40px;
	}
	.cta_box,
	.header_top_menu-top,
	.header_bottom_info,
	.footer_top_menu,
	.footer_info,
	.footer_bot_menu,
	.footer_info_links {
		flex-direction: column;
	}
	.cta_box_btn {
		margin-right: unset;
	}
	footer {
		text-align: center;
	}
	.partners_box_line_top,
	.partners_box_line_bot {
		gap: 40px;
	}
	.partners_box_line_top {
		justify-content: flex-start;
		margin-bottom: 73px;
	}
	.btn {
		padding: 40px 20px;
	}
	.blog_box_item h5 {
		font-size: 2vw;
		padding-top: 10px;
	}
	.blog_box {
		grid-template-columns: repeat(2, 1fr);
	}
	.brandbook {
		&_box {
			@include grid(grid, repeat(2, 1fr) !important);
		}
	}
}

@media (max-width: 768px) {
	.services_box {
		grid-template-columns: repeat(2, 1fr);
	}

	.cases_box_top,
	.cases_box_bottom,
	.header_top_menu-bot {
		flex-direction: column;
	}
	.title h3 {
		font-size: 9vw;
	}
	.creation_box_title h3 {
		font-size: 24px;
		line-height: 38.4px;
		text-align: left;
	}
	.creation_box_title p {
		text-align: left;
	}
	.creation_box_offer_item p {
		font-size: 3vw;
	}
	.blog_box_item h5 {
		font-size: 2vw;
	}
	.brandbook {
		&_follow {
			flex-direction: column;
		}
	}
}

@media (max-width: 480px) {
	.header_in {
		.logo {
			img {
				width: 130px;
			}
		}
		.mobile .mobile_icon {
			color: var(--black);
			border-color: var(--black);
			&:after {
				content: url(../../assets/more-vertical_black.svg);
			}
		}
		&_bottom_info_lang {
			display: none;
		}
		&_bottom {
			padding-bottom: 0;
		}
		.header_bottom_info_phone::before {
			content: url(../../assets/mobile_wjite.svg);
		}
	}
	.billboard_box_text h1 {
		font-size: 48px;
		line-height: 67.2px;
		span {
			font-size: 14px;
			line-height: 19.6px;
		}
		&_subtext {
			font-size: 16px;
			line-height: 25.6px;
		}
	}
	.cube,
	.active-cube {
		width: 70px;
	}
	h1,
	h2,
	h3,
	h5 {
		font-size: unset;
	}
	.title h3 {
		font-size: 40px;
	}
	// section {
	// 	margin: 50px 0 !important;
	// }
	.btn {
		font-size: 16px;
	}
	// .app {
	// 	margin: unset;
	// }
	.services_box,
	.blog_box {
		grid-template-columns: repeat(1, 1fr);
	}
	.creation_box_title {
		padding-bottom: 50px;
		text-align: center;
	}
	.creation_box_offer_item {
		margin-bottom: 30px;
	}
	.creation_box_offer_item p {
		font-size: 16px;
		line-height: 25.6px;
	}
	.cases_box h5 {
		font-size: 20px;
		line-height: 28px;
	}
	.cases .tags a {
		font-size: 20px;
		color: var(--silver);
		font-size: 14px;
		line-height: 22px;
	}

	.cta_box_title h2 {
		font-size: 38px;
	}
	.services_box_item h5 {
		left: 0;
		font-size: 4vw;
	}
	.blog_box_item h5 {
		font-size: 4vw;
		text-align: left;
	}
	.brandbook h6 {
		font-size: 24px;
	}
	.mobile_header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			width: 130px;
		}
	}
	.mobile {
		display: flex;
		gap: 20px;
		.mobile_icon {
			border: 1px solid white;
			border-radius: 50%;
			width: 49px;
			height: 49px;
			padding: 9px 10px;
			color: white;
			text-align: center;
			line-height: 22.4px;
			cursor: pointer;
			transition: all 250ms ease-out;
			&::after {
				content: url(../assets/more-vertical.svg);
				display: block;
			}
			span {
				display: block;
				margin-bottom: -4px;
			}
		}
	}
	.logo {
		margin-bottom: 0;
	}
	.header_box {
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1294117647);
	}
	.header_top {
		border: none;
	}
	.header_bottom {
		padding-top: 0;
	}
	.mobile_slash {
		display: none;
		overflow: auto;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		padding: 140px 30px;
		text-align: left;
		transform: translate(-50%, -50%);
		background-color: #0066ffd1;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		&-top {
			margin-bottom: 50px;
			align-items: flex-start;
			ul li {
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				margin-bottom: 30px;
				a {
					color: white;
					text-transform: uppercase;
				}
			}
		}
		&-bot {
			margin-bottom: 62px;
			align-items: flex-start;
			ul li {
				font-size: 32px;
				font-weight: 500;
				line-height: 45px;
				margin-bottom: 30px;
				a {
					color: white;
				}
			}
		}
		.header_bottom_info_phone {
			background: #408bfb;
			&::before {
				content: url('../assets/mobile_telwhite.svg');
			}
			a {
				color: white;
			}
		}
		.cross_mobile::before {
			content: url(../assets/cross_mobile.svg);
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 50px;
		}
	}
	.desc_icon,
	.header_top nav,
	.menuhide {
		display: none;
	}
	.header_bottom_info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 18px;
		margin-top: 0;
	}
	.header_bottom_info_phone {
		padding: 12px 8px;
		line-height: 0;
	}
	.header_bottom_info_phone::before {
		content: url(../assets/mobile_tel.svg);
	}
	.header_bottom_info_breaf,
	.header_bottom_info_phone a {
		font-size: 12px;
		line-height: 16.8px;
	}
}

@media (min-width: 480px) {
	.mobile_icon,
	.menubar,
	.mobile_slash {
		display: none;
	}
}

@keyframes bounce {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes animateIn {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.4);
		opacity: 0;
	}
}

@keyframes animateOut {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.9);
		opacity: 0;
	}
}

@-webkit-keyframes hoverWave {
	0% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
			0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
	}
	40% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
			0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
	}
	80% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
			0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
	}
	100% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
			0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
	}
}
@keyframes hoverWave {
	0% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
			0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
	}
	40% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
			0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
	}
	80% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
			0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
	}
	100% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
			0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
	}
}

@keyframes pulse {
	0% {
		transform: scale(2);
		opacity: 0.2;
	}
	100% {
		transform: scale(2.3);
		opacity: 0;
	}
}

@keyframes pulse2 {
	0% {
		transform: scale(1.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(1.8);
		opacity: 0;
	}
}

@keyframes pulse3 {
	0% {
		transform: scale(2.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(2.8);
		opacity: 0;
	}
}

.swiper-horizontal .swiper-pagination {
	position: relative;
	text-align: left;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	margin-top: 120px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets {
	.swiper-pagination-bullet {
		background: rgb(255, 255, 255);
		width: 70px;
		height: 2px;
		border-radius: 0;
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: white;
		height: 6px;
		vertical-align: sub;
	}
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	background: linear-gradient(90deg, #eaeef7 0%, rgba(234, 238, 247, 0) 100%);
	display: block;
	width: 100% !important;
	height: 2px !important;
	left: 0 !important;
	.swiper-scrollbar-drag {
		border-radius: 0;
		background: var(--blue);
		display: block;
		/* width: 150px; */
		height: 8px;
		/* transform: translateY(-7px) !important; */
		/* margin-bottom: -2px;
		position: relative;
		z-index: 1; */
	}
}
