<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="./about.css">
	<link rel="stylesheet" href="../../styles/fonts.css">
</head>

<body>
	<header class="header header_in">
		<div class="container">
			<div class="header_box header_in_box">
				<div class="header_top header_in_top">
					<div class='mobile_header'>
						<div class="logo">
							<a href="#">
								<img src="../../assets/crocos_logo_black.svg" alt="Crocos Logo">
							</a>
						</div>
						<div class='mobile'>
							<div class="mobile_icon">
								<span>Ru</span>
							</div>
							<div class='menubar'>
								<img src="../../assets/Menu-black.svg" alt="">
							</div>
						</div>
					</div>
					<nav>
						<ul class="header_top_menu-top header_in_top_menu-top">
							<li><a href="#">Разработка</a>
							</li>
							<li><a href="#">Маркетплейс</a>
							</li>
							<li><a href="#">Городской
									путеводитель</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header_bottom header_in_bottom">
					<div class='menuhide'>
						<nav>
							<ul class="header_top_menu-bot header_in_top_menu-bot">
								<li><a href="#">О
										компании</a>
								</li>
								<li><a href="#">Услуги</a>
								</li>
								<li><a href="#">Решения</a>
								</li>
								<li><a href="#">Продукты</a>
								</li>
								<li><a href="#">Кейсы</a>
								</li>
								<li><a href="#">Контакты</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class='header_bottom_info header_in_bottom_info'>
						<div class="header_bottom_info_lang header_in_bottom_info_lang">
							<span>Ru</span>
						</div>
						<div class='header_bottom_info_breaf header_in_bottom_info_breaf'>
							Заполнить бриф
						</div>
						<div class='header_bottom_info_phone header_in_bottom_info_phone'>
							<a href="tel:+77172790439">+7 /7172/ 79 04 39</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class='about'>
		<div class="container">
			<div class="title">
				<h3>О компании</h3>
			</div>
		</div>
		<div class="about_box">
			<div class="flex">
				<div class="about_box_info">
					<div class="container">
						<div class="about_box_info_text">
							<p>вдохновляемся будущим</p>
							<p>Полносервисный интегратор цифровых решений с собственным
								продакшеном.
							</p>
						</div>
					</div>

				</div>
				<div class="about_box_info_img">
					<img src="../../assets/app_smol.png" alt="">
				</div>
			</div>
			<div class="container">
				<div class="about_box_motto">
					<p>Наша компания - это место, где мы превращаем сложные коды в
						потрясающие пользовательские интерфейсы, где магия виртуальной
						реальности оживает перед вашими глазами, а искусственный интеллект
						превращает наши сновидения в осуществимую реальность.</p>
				</div>
			</div>
		</div>

	</section>
	<section class="advantages container-small">
		<div class="advantages_box">
			<div class="advantages_box_text">
				<p>Мы не останавливаемся на достигнутом. Всегда стремимся идти в ногу со
					временем и опережать ожидания. Исследуем новые горизонты в области
					цифровых технологий и находим инновационные способы применения данных
					решений в различных сферах жизни.</p>
				<p>Наша команда состоит из ярких мозгов, которые горят страстью к
					технологиям. Мы собрали самых талантливых разработчиков, дизайнеров и
					стратегов, которые вместе создают магию. Уверены в том, что только
					вместе мы можем достичь высот и превзойти все ожидания.</p>
			</div>
			<div class="advantages_box_counts">
				<div class="advantages_box_counts_item">
					<div class="advantages_box_counts_item-int">
						15
					</div>
					<div class="advantages_box_counts_item-text">
						лет на рынке
					</div>
				</div>
				<div class="advantages_box_counts_item">
					<div class="advantages_box_counts_item-int">
						50+
					</div>
					<div class="advantages_box_counts_item-text">
						профессионалов
					</div>
				</div>
				<div class="advantages_box_counts_item">
					<div class="advantages_box_counts_item-int">
						150+
					</div>
					<div class="advantages_box_counts_item-text">
						проектов
					</div>
				</div>
			</div>
			<div class="advantages_box_clients">
				<div class="title">
					<h3>Нам доверяют</h3>
				</div>
				<div class="advantages_box_clients_list">
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/aviation.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/eurasia.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/citypass.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/kztravel.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/clinic.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/eqonaq.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/fingramota.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/airport.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/astanaforum.svg" alt="">
					</div>
					<div class="advantages_box_clients_list_item">
						<img src="../../assets/otbasybank.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="awards">
		<div class="awards_letters container">
			<div class="awards_container-top awards_boxx">
				<!-- <div class="container"> -->
				<div class="title">
					<h3>Благодарственные письма</h3>
				</div>
				<!-- </div> -->
				<div class="awards_letters_list">
					<div class="awards_letters_list_item">
						<img src="../../assets/let1.png" alt="">
						<div class='wr'>
							<img src="../../assets/Full_alt.svg" alt="">
						</div>
					</div>
					<div class="awards_letters_list_item">
						<img src="../../assets/let1.png" alt="">
						<div class='wr'>
							<img src="../../assets/Full_alt.svg" alt="">
						</div>
					</div>
					<div class="awards_letters_list_item">
						<img src="../../assets/let3.png" alt="">
						<div class='wr'>
							<img src="../../assets/Full_alt.svg" alt="">
						</div>
					</div>
					<div class="awards_letters_list_item">
						<img src="../../assets/let3.png" alt="">
						<div class='wr'>
							<img src="../../assets/Full_alt.svg" alt="">
						</div>
					</div>
				</div>
				<!-- <div class="container"> -->
				<div class="paginaton"></div>
				<div class="ar-blue"></div>
				<!-- </div> -->
			</div>
		</div>
		<div class="awards_license container">
			<!-- <div class="container"> -->
			<div class="awards_box awards_container-bot">
				<div class="title">
					<h3>Сертификаты и награды</h3>
				</div>
				<div class="awards_box_list">
					<div class="awards_box_list_item">
						<p class='name'>Казахстанская ассоциация IT компаний</p>
						<p class='year'>2020</p>
					</div>
					<div class="awards_box_list_item">
						<p class='name'>Promobot роботехника</p>
						<p class='year'>2020</p>
					</div>
					<div class="awards_box_list_item">
						<p class='name'>SIGUR</p>
						<p class='year'>2020</p>
					</div>
					<div class="awards_box_list_item">
						<p class='name'>Терриконовая долина</p>
						<p class='year'>2020</p>
					</div>
					<div class="awards_box_list_item">
						<p class='name'>Google</p>
						<p class='year'>2020</p>
					</div>
					<div class="awards_box_list_item">
						<p class='name'>BAITEREK</p>
						<p class='year'>2020</p>
					</div>
				</div>
			</div>
			<!-- </div> -->
		</div>
	</section>
	<section class="stats">
		<div class="container">
			<div class="stats_box stats_insta">
				<div class="stats_info">
					<div class="stats_icon">
						<img src="../../assets/instagram_stats.svg" alt="">
					</div>
					<div class="stats_name">
						<h6>crocos_digital</h6>
						<p>@crocos_digital</p>
					</div>
					<div class="stats_follow">
						<div class="stats_follow-posts">
							<h6>187</h6>
							<p>публикаций</p>
						</div>
						<div class="stats_follow-subs">
							<h6>8 609</h6>
							<p>подписчиков</p>
						</div>
						<div class="stats_follow-leads">
							<h6>391</h6>
							<p>подписок</p>
						</div>
					</div>
				</div>
				<div class="stats_btn">
					<p>Подписаться</p>
				</div>
			</div>
			<div class="stats_box stats_telegram">
				<div class="stats_info">
					<div class="stats_icon">
						<img src="../../assets/telegram_stats.svg" alt="">
					</div>
					<div class="stats_name">
						<h6>crocos_digital</h6>
						<p>@crocos_digital</p>
					</div>
					<div class="stats_follow">
						<div class="stats_follow-posts">
							<h6>102</h6>
							<p>публикаций</p>
						</div>
						<div class="stats_follow-subs">
							<h6>96</h6>
							<p>подписчиков</p>
						</div>
					</div>
				</div>
				<div class="stats_btn">
					<p>Подписаться</p>
				</div>
			</div>
		</div>
	</section>
	<section class="cta container">
		<div class="cta_box">
			<div class='cta_box_title'>
				<h2>Воплощаем идеи <br> в
					жизнь
				</h2>
			</div>
			<div class='cta_box_btn'>
				<p>Свяжись с нами</p>
			</div>
		</div>
	</section>
	<footer class='footer container'>
		<div class="footer_links">
			<div class='footer_links-item linkedin'>
				<a href="#"><img src="../../assets/linkedin.svg" alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item telegram'>
				<a href="#"><img src="../../assets/telegram.svg" alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item instagram'>
				<a href="#"><img src="../../assets/instagram.svg" alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item behance'>
				<a href="#"><img src="../../assets/behance.svg" alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item youtube'>
				<a href="#"><img src="../../assets/youtube.svg" alt="Crocos - Digital Solutions"></a>
			</div>
		</div>
		<nav>
			<ul class='footer_top_menu'>
				<li><a href="#">О компании</a>
				</li>
				<li><a href="#">Услуги</a>
				</li>
				<li><a href="#">Решения</a>
				</li>
				<li><a href="#">Проекты</a>
				</li>
				<li><a href="#">Клиенты</a>
				</li>
				<li><a href="#">Контакты</a>
				</li>
			</ul>
		</nav>
		<nav>
			<ul class='footer_bot_menu'>
				<li><a href="#">Web
						разработка</a></li>
				<li><a href="#">Мобильные
						приложения</a></li>
				<li><a href="#">Digital
						продвижение</a></li>
				<li><a href="#">Информационная
						безопасность</a></li>
				<li><a href="#">Решения</a>
				</li>
			</ul>
		</nav>
		<div class="footer_info">
			<img src="../../assets/PC_Logo 1.svg" alt="Crocos - Digital Solutions">
			<nav>
				<ul class="footer_info_links">
					<li><a href="#">Скачать
							презентацию</a>
					</li>
					<li><a href="#">Стать
							частью команды</a>
					</li>
					<li><a href="">Скачать
							логотип</a></li>
					<li><a href="">Связаться с
							нами</a></li>
					<li><a href="">Заполнить
							бриф</a></li>
				</ul>
			</nav>
		</div>
		<div class="copyright">
			Copyright &copy; 2024 Crocos. All
			rights reserved.
		</div>
	</footer>
</body>

</html>