<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./blog-item.css">
	<link rel="stylesheet" href="../../../styles/fonts.css">
	<title>Blog Item</title>
</head>

<body>
	<header class="header header_in">
		<div class="container">
			<div class="header_box header_in_box">
				<div class="header_top header_in_top">
					<div class="logo">
						<a href="#"><img src="../../../assets/crocos_logo_black.svg"
								alt="Crocos Logo"></a>
					</div>
					<nav>
						<ul class="header_top_menu-top header_in_top_menu-top">
							<li><a href="#">Разработка</a>
							</li>
							<li><a href="#">Маркетплейс</a>
							</li>
							<li><a href="#">Городской
									путеводитель</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header_bottom header_in_bottom">
					<div>
						<nav>
							<ul class="header_top_menu-bot header_in_top_menu-bot">
								<li><a href="">О
										компании</a>
								</li>
								<li><a href="">Услуги</a>
								</li>
								<li><a href="">Решения</a>
								</li>
								<li><a href="">Продукты</a>
								</li>
								<li><a href="">Кейсы</a>
								</li>
								<li><a href="">Контакты</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class='header_bottom_info header_in_bottom_info'>
						<div class="header_bottom_info_lang header_in_bottom_info_lang">
							<span>Ru</span>
						</div>
						<div class='header_bottom_info_breaf header_in_bottom_info_breaf'>
							Заполнить бриф
						</div>
						<div class='header_bottom_info_phone header_in_bottom_info_phone'>
							<a href="tel:+77172790439">+7
								/7172/ 79 04
								39</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class='iblog'>
		<div class="container-single">
			<div class="iblog_box">
				<div class="iblog_box_single">
					<h5>50 крутых примеров 404 страницы</h5>
					<div class='iblog_box_single_add'>
						<span class='tags'>#UI\UX, #404, #Development, #Blog</span>
						<div>
							<span class='views'>123</span>
						</div>
					</div>
					<div>
						<img src="../../../assets/blogsingle.png" alt="">
					</div>
					<div class='iblog_box_single_info'>
						<div class="iblog_box_single_info-content">
							<p>Ошибка 404 означает, что пользователь пытается перейти на
								несуществующую страницу сайта. Стандартное сообщение сервера
								выглядит непрезентабельно и портит впечатление о сайте.
								Поэтому создание сайтов в Нур-Султане/Астане включает разработку
								оптимизированной страницы 404 Not Found, которая показывается
								пользователю, если что-то пошло не так.</p>

							<h6>Когда выдается ошибка 404?</h6>
							<p>Нередко возникает вопрос, как исправить ошибку 404? Чтобы
								ответить
								на него, необходимо разобраться, в каких ситуациях пользователь
								видит это сообщение.</p>

							<p>404 ошибка отображается по разным причинам:</p>
							<ul>
								<li> ошибка в написании ссылки;</li>
								<li>переход на удаленную страницу;</li>
								<li>изменение url-адреса;</li>
								<li>некорректная работа сервера.</li>
							</ul>
							<p> Техническая поддержка сайта в Нур-Султане/Астане может
								исправить
								«битые» ссылки на сайте, но это решит только часть проблемы.
								Если
								пользователь введет неправильный адрес, он увидит сообщение 404
								Not Found. Поэтому ответом на вопрос, как исправить ошибку 404,
								является разработка сайтов с оптимизированной страницей.</p>

							<p> Иногда сообщение об ошибке может показываться даже в том
								случае,
								если адрес существует и правильно написан. Это может быть
								связано
								с некорректной работой сервера или хостинга. Решить проблему
								поможет техническая поддержка сайта в Нур-Султане/Астане.</p>

							<h6> Какой должна быть страница 404?</h6>
							<p> Профессиональное создание сайтов в
								Нур-Султане/Астане подразумевает разработку 404 страницы с
								полезной информацией и привлекательным креативным дизайном.
								Функционал зависит от направленности веб-ресурса.
								На странице 404 должен быть простой и понятный текст с
								пояснением,
								почему пользователь здесь оказался. Для снятия негатива можно
								использовать оригинальную веселую анимацию или даже мини-игру.
							</p>
							<p> 404 ошибка очень часто приводит к тому, что пользователь
								просто
								закрывает страницу. Чтобы этого не произошло, разработка сайтов
								с
								оптимизацией 404 страницы должна предложить посетителю что-то
								взамен. Это может быть строка поиска по веб-ресурсу, показ
								похожих
								товаров или информационных материалов.</p>

							<p> В интернете можно найти множество примеров удачной реализации
								страницы 404. Очень часто дизайнеры используют элементы
								брендинга,
								анимированных персонажей, популярные мемы, несложные игры.</p>

							<p> Однозначно не строит настраивать для ошибки 404 редирект на
								главную страницу веб-ресурса или какой-либо раздел. Отсутствие
								каких-либо пояснений нервирует посетителя и приводит к тому, что
								он навсегда уходит с сайта.</p>
						</div>
						<div class='iblog_box_single_share'>
							<span>Поделиться</span>
							<div class='socials'>
								<a href="#">
									<div class='fb'>
										<img src="../../../assets/facebook.svg" alt="">
									</div>
								</a>
								<a href="#">
									<div class='tw'>
										<img src="../../../assets/twitter.svg" alt="">
									</div>
								</a>
								<a href="#">
									<div class='vk'>
										<img src="../../../assets/vk.svg" alt="">
									</div>
								</a>
							</div>
						</div>
						<div class='iblog_box_single_btn'>
							<a href="#next">
								<div>Следующий блог</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cta container">
		<div class="cta_box">
			<div class='cta_box_title'>
				<h2>Воплощаем идеи <br> в
					жизнь
				</h2>
			</div>
			<div class='cta_box_btn'>
				<p>Свяжись с нами</p>
			</div>
		</div>
	</section>
	<footer class='footer container'>
		<div class="footer_links">
			<div class='footer_links-item linkedin'>
				<a href="#"><img src="../../../assets/linkedin.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item telegram'>
				<a href="#"><img src="../../../assets/telegram.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item instagram'>
				<a href="#"><img src="../../../assets/instagram.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item behance'>
				<a href="#"><img src="../../../assets/behance.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item youtube'>
				<a href="#"><img src="../../../assets/youtube.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
		</div>
		<nav>
			<ul class='footer_top_menu'>
				<li><a href="#">О компании</a>
				</li>
				<li><a href="#">Услуги</a>
				</li>
				<li><a href="#">Решения</a>
				</li>
				<li><a href="#">Проекты</a>
				</li>
				<li><a href="#">Клиенты</a>
				</li>
				<li><a href="#">Контакты</a>
				</li>
			</ul>
		</nav>
		<nav>
			<ul class='footer_bot_menu'>
				<li><a href="#">Web
						разработка</a></li>
				<li><a href="#">Мобильные
						приложения</a></li>
				<li><a href="#">Digital
						продвижение</a></li>
				<li><a href="#">Информационная
						безопасность</a></li>
				<li><a href="#">Решения</a>
				</li>
			</ul>
		</nav>
		<div class="footer_info">
			<img src="../../../assets/PC_Logo 1.svg" alt="Crocos - Digital Solutions">
			<nav>
				<ul class="footer_info_links">
					<li><a href="#">Скачать
							презентацию</a>
					</li>
					<li><a href="#">Стать
							частью команды</a>
					</li>
					<li><a href="">Скачать
							логотип</a></li>
					<li><a href="">Связаться с
							нами</a></li>
					<li><a href="">Заполнить
							бриф</a></li>
				</ul>
			</nav>
		</div>
		<div class="copyright">
			Copyright &copy; 2024 Crocos. All
			rights reserved.
		</div>
	</footer>
</body>

</html>