<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./case-item.css">
	<link rel="stylesheet" href="../../../styles/fonts.css">
	<title>Cases Item</title>
</head>

<body>
	<header class="header header_in">
		<div class="container">
			<div class="header_box header_in_box">
				<div class="header_top header_in_top">
					<div class="logo">
						<a href="#"><img src="../../../assets/crocos_logo_black.svg"
								alt="Crocos Logo"></a>
					</div>
					<nav>
						<ul class="header_top_menu-top header_in_top_menu-top">
							<li><a href="#">Разработка</a>
							</li>
							<li><a href="#">Маркетплейс</a>
							</li>
							<li><a href="#">Городской
									путеводитель</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header_bottom header_in_bottom">
					<div>
						<nav>
							<ul class="header_top_menu-bot header_in_top_menu-bot">
								<li><a href="#">О
										компании</a>
								</li>
								<li><a href="#">Услуги</a>
								</li>
								<li><a href="#">Решения</a>
								</li>
								<li><a href="#">Продукты</a>
								</li>
								<li><a href="#">Кейсы</a>
								</li>
								<li><a href="#">Контакты</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class='header_bottom_info header_in_bottom_info'>
						<div class="header_bottom_info_lang header_in_bottom_info_lang">
							<span>Ru</span>
						</div>
						<div class='header_bottom_info_breaf header_in_bottom_info_breaf'>
							Заполнить бриф
						</div>
						<div class='header_bottom_info_phone header_in_bottom_info_phone'>
							<a href="tel:+77172790439">+7 /7172/ 79 04 39</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class='case'>
		<div class="container-single">
			<div class="case_box">
				<div class="case_box_single">
					<div class="case_box_single_info">
						<h5>Enbek</h5>
						<p>Единая экосистема социально-трудовой сферы</p>
						<div class='add'>
							<span class='tags'>#UI\UX, #Development, #Laravel, #Js,
								#Highcharts</span>
							<div>
								<span class='like'>45</span>
								<span class='views'>123</span>
							</div>
						</div>
						<div>
							<img src="../../../assets/singlecase.png" alt="">
						</div>
						<p class='text'>Наша команда успешно завершила проект по редизайну
							веб-сайта
							iac.enbek.kz, придав новый взгляд платформе. Мы внедрили
							современные
							дизайнерские решения, добавили новые функциональные модули, и
							осуществили успешную интеграцию с SmartBridge, обеспечив
							улучшенный
							пользовательский опыт и эффективную работу ресурса.</p>
					</div>
					<div class="case_box_single_team">
						<h5>Команда</h5>
						<div class='case_box_single_team_dev'>
							<div class="case_box_single_team_dev-item">
								<h6>Шайжанов Ильяс</h6>
								<p>проектный менеджер</p>
							</div>
							<div class="case_box_single_team_dev-item">
								<h6>Галымжан</h6>
								<p>бэкендер</p>
							</div>
							<div class="case_box_single_team_dev-item">
								<h6>Ырысты</h6>
								<p>Ui\UX дизайнер</p>
							</div>
							<div class="case_box_single_team_dev-item">
								<h6>Нургелды</h6>
								<p>фронтендер</p>
							</div>
						</div>
					</div>
					<div class="case_box_single_links">
						<p class='case_box_single_links-enbek'>
							<a href="erdo.enbek.kz">erdo.enbek.kz</a>
						</p>
						</a>
						<h4 class='case_box_single_links-allcase'>Посмотри весь кейс 🤩</h4>
						<div class='case_box_single_links-socials'>
							<div><img src="../../../assets/behance.png" alt=""></div>
							<div><img src="../../../assets/dribbble.png" alt=""></div>
							<div><img src="../../../assets/youtube.png" alt=""></div>
							<div><img src="../../../assets/vcru.png" alt=""></div>
						</div>
						<div class='case_box_single_links-btn'>
							<a href="#next">Следующий кейс</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cta container">
		<div class="cta_box">
			<div class='cta_box_title'>
				<h2>Воплощаем идеи <br> в
					жизнь
				</h2>
			</div>
			<div class='cta_box_btn'>
				<p>Свяжись с нами</p>
			</div>
		</div>
	</section>
	<footer class='footer container'>
		<div class="footer_links">
			<div class='footer_links-item linkedin'>
				<a href="#"><img src="../../../assets/linkedin.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item telegram'>
				<a href="#"><img src="../../../assets/telegram.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item instagram'>
				<a href="#"><img src="../../../assets/instagram.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item behance'>
				<a href="#"><img src="../../../assets/behance.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
			<div class='footer_links-item youtube'>
				<a href="#"><img src="../../../assets/youtube.svg"
						alt="Crocos - Digital Solutions"></a>
			</div>
		</div>
		<nav>
			<ul class='footer_top_menu'>
				<li><a href="#">О компании</a>
				</li>
				<li><a href="#">Услуги</a>
				</li>
				<li><a href="#">Решения</a>
				</li>
				<li><a href="#">Проекты</a>
				</li>
				<li><a href="#">Клиенты</a>
				</li>
				<li><a href="#">Контакты</a>
				</li>
			</ul>
		</nav>
		<nav>
			<ul class='footer_bot_menu'>
				<li><a href="#">Web
						разработка</a></li>
				<li><a href="#">Мобильные
						приложения</a></li>
				<li><a href="#">Digital
						продвижение</a></li>
				<li><a href="#">Информационная
						безопасность</a></li>
				<li><a href="#">Решения</a>
				</li>
			</ul>
		</nav>
		<div class="footer_info">
			<img src="../../../assets/PC_Logo 1.svg" alt="Crocos - Digital Solutions">
			<nav>
				<ul class="footer_info_links">
					<li><a href="#">Скачать
							презентацию</a>
					</li>
					<li><a href="#">Стать
							частью команды</a>
					</li>
					<li><a href="">Скачать
							логотип</a></li>
					<li><a href="">Связаться с
							нами</a></li>
					<li><a href="">Заполнить
							бриф</a></li>
				</ul>
			</nav>
		</div>
		<div class="copyright">
			Copyright &copy; 2024 Crocos. All
			rights reserved.
		</div>
	</footer>
</body>

</html>